$main-color-1 : rgb(123, 237, 47);
$main-color-2 : rgb(79, 179, 212);
$side-color-1 : rgb(79, 179, 212);
$side-color-2 : rgb(104, 47, 237);
$box-shadow-color : rgba(0, 0, 0, 0.1);
$text-color : rgb(40, 40, 40);